body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('reynoldsbackground.PNG') no-repeat center center/cover;
    color: white;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
}
.container{
    margin-top: 50px; /* Adjusted to show more of the background */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header img {
    max-width: 350px;
}

header h1 {
    margin: 10px 0;
}

.services, .contact {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
#p2 {
font-size: 50px;
}
.description {
    background: rgba(0, 0, 0, 0.6);
    font-size: 200%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 35px;
    margin: 5px 0;
}

a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    position:relative;
    width: 100%;
    bottom: 0;
}
